<footer id="myFooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 myCols">
          <h5>Get started</h5>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/singIn">Sign in</a></li>
            <li><a routerLink="/singUp">Sign up</a></li>
            <!--<li><a href="#">Downloads</a></li>-->
          </ul>
        </div>
        <div class="col-sm-3 myCols">
          <h5>About us</h5>
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a routerLink="/admin">Admin</a></li>
          </ul>
        </div>
        <div class="col-sm-3 myCols">
          <h5>Support</h5>
          <ul>
            <!--<li><a href="#">FAQ</a></li>-->
            <li><a href="#">Help desk</a></li>
            <li><a href="#">Forums</a></li>
          </ul>
        </div>
        <div class="col-sm-3 myCols">
          <h5>Legal</h5>
          <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="social-networks">
      <a href="#" class="twitter">
        <img class="img-fluid social-icon" src="../assets/images/icons/twitter.svg" alt="twitter">
      </a>
      <a href="#" class="facebook">
        <img class="img-fluid social-icon" src="assets/images/icons/facebook.svg" alt="facebook">
      </a>
      <a href="#" class="google">
        <img class="img-fluid social-icon" src="assets/images/icons/google.svg" alt="google">
      </a>
      <a href="#" class="google">
        <img class="img-fluid social-icon" src="assets/images/icons/youtube.svg" alt="youtube">
      </a>
    </div>
    <div class="footer-copyright">
      <p>© {{year}} The ColorLib, All rights reserved. </p>
    </div>
  </footer>
  